<ion-view title="系统设置">
    <ion-content overflow-scroll="true" padding="true" class="has-header"   on-swipe-right="goBack()" on-swipe-left="goForward()">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-item>Item</ion-item>
            <ion-item>Item</ion-item>
        </form>
    </ion-content>
</ion-view>