<ion-view title="账号管理">
    <ion-content overflow-scroll="true" padding="true" class="has-header"   on-swipe-right="goBack()" on-swipe-left="goForward()">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <button id="page3-button6" class="button button-positive  button-block">添加账号</button>
        <ion-list></ion-list>
    </ion-content>
</ion-view>