<ion-view title="自动登录">
    <ion-content overflow-scroll="true" padding="true" class="has-header"   on-swipe-right="goBack()" on-swipe-left="goForward()">
        <form class="list">
            <label class="item item-select" name="SelectAccount">
                <span class="input-label">选择账户</span>
                <select>
                    <option>全部</option>
                    <option>账号1</option>
                    <option>账号2</option>
                </select>
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <button id="page2-button8" class="button button-positive  button-block">Tap me!</button>
            </div>
        </div>
    </ion-content>
</ion-view>